<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Preview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="../../assets/styles/iframe.large.css"></head>
<body>
  <div id="preview"><div class="demo-only" data-reactid=".2"><span class="slds-badge" data-reactid=".2.0">Label</span><span class="slds-badge slds-theme--default" data-reactid=".2.1">Label</span><span class="slds-badge slds-theme--shade" data-reactid=".2.2">Label</span><span class="slds-badge slds-theme--inverse" data-reactid=".2.3">Label</span></div></div>



</body></html>