<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Preview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="../../assets/styles/iframe.large.css"></head>
<body>
  <div id="preview"><div class="demo-only demo-container" data-reactid=".l"><div class="slds-grid slds-grid--align-space" data-reactid=".l.0"><div class="slds-col--padded" data-reactid=".l.0.0">Content determines the width unless otherwise set</div><div class="slds-col--padded" data-reactid=".l.0.1">1</div><div class="slds-col--padded" data-reactid=".l.0.2">1</div><div class="slds-col--padded" data-reactid=".l.0.3">1</div></div></div></div>
  <script>
    (function() {
      window.addEventListener('load', function() {
        var eventName = 'iframe:load:' + window.name;
        if (parent.window.__events) {
          parent.window.__events.emit(eventName);
        } else {
          parent.window.__eventsQueue = parent.window.__eventsQueue || [];
          parent.window.__eventsQueue.push({
            name: eventName,
            args: []
          });
        }
      });
    })();
  </script>


</body></html>