$orange: #f16209;
.orange {
	color: $orange;
}

$green: #00d400;
.green {
	color: $green;
}

$blue: #00a1e0;
.blue {
	color: $blue;
}

$dark-blue: #035a96;
.dark-blue {
	color: $dark-blue;
}

$border-bg: #e5e5e5;
