<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Preview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="../../assets/styles/iframe.large.css"></head>
<body>
  <div id="preview"><nav role="navigation" data-reactid=".5"><p id="bread-crumb-label" class="slds-assistive-text" data-reactid=".5.0">You are here:</p><ol class="slds-breadcrumb slds-list--horizontal" aria-labelledby="bread-crumb-label" data-reactid=".5.1"><li class="slds-list__item slds-text-heading--label" data-reactid=".5.1.0"><a href="#" data-reactid=".5.1.0.0">Parent Entity</a></li><li class="slds-list__item slds-text-heading--label" data-reactid=".5.1.1"><a href="#" data-reactid=".5.1.1.0">Parent Record Name</a></li></ol></nav></div>



</body></html>