<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Preview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="../../assets/styles/iframe.css"></head>
<body>
  <div id="preview"><div class="demo-only" style="height:800px;" data-reactid=".12"><div data-reactid=".12.0"><div aria-hidden="false" role="dialog" class="slds-modal slds-fade-in-open" data-reactid=".12.0.0"><div class="slds-modal__container" data-reactid=".12.0.0.0"><div class="slds-modal__header" data-reactid=".12.0.0.0.0"><h2 class="slds-text-heading--medium" data-reactid=".12.0.0.0.0.0:0">Delete Account</h2><p class="slds-m-top--x-small" data-reactid=".12.0.0.0.0.0:1">Are you sure you want to delete this account?</p></div><div class="slds-modal__menu slds-max-small-buttons--stretch slds-x-small-buttons--stacked" data-reactid=".12.0.0.0.1"><button class="slds-button slds-button--destructive" data-reactid=".12.0.0.0.1.0">Delete</button><button class="slds-button slds-button--neutral" data-reactid=".12.0.0.0.1.1">Cancel</button></div></div></div><div class="slds-backdrop slds-backdrop--open" data-reactid=".12.0.1"></div></div></div></div>



</body></html>