<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Preview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="../../assets/styles/iframe.large.css"></head>
<body>
  <div id="preview"><div class="demo-only" data-reactid=".i"><a href="#void" class="slds-pill" data-reactid=".i.0"><span class="slds-pill__label" data-reactid=".i.0.0">Pill Label</span><button class="slds-button slds-button--icon-bare slds-pill__remove" data-reactid=".i.0.1"><svg aria-hidden="true" class="slds-button__icon" data-reactid=".i.0.1.0"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use></svg><span class="slds-assistive-text" data-reactid=".i.0.1.1">Remove</span></button></a></div></div>


</body></html>