<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Preview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="../../assets/styles/iframe.large.css"></head>
<body>
  <div id="preview"><div class="demo-only" data-reactid=".j"><span class="slds-pill" data-reactid=".j.0"><span class="slds-pill__label" data-reactid=".j.0.0">Pill Label</span></span></div></div>


</body></html>